/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
body {
    margin: 15px 0 0 15px;
    padding: 1px; /*background: #2370cf;*/
    font: 12px 'Lucida Grande', Geneva, Verdana, Arial, sans-serif;
    color: #000;
}

table, td {
    font: 12px 'Lucida Grande', Geneva, Verdana, Arial, sans-serif;
    color: #000;
}

h1 {
    font: 24px;
}

img {
    border: thin black solid;
}

#contentBox {
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 50px;
    color: black;
    background: #eee;
    border: thick black solid;
}

        table.sampleNoBorder {
        width: 100%;
            border-width: 0px;
            border-style: none;
            border-color: blue;
            border-collapse: separate;
            background-color: rgb(255, 255, 240);
        }

        table.sample {
        width: 100%;
            border-width: 1px;
            border-style: outset;
            border-color: blue;
            border-collapse: separate;
            background-color: rgb(255, 255, 240);
        }

        table.sample th {
            border-width: 1px;
            padding: 1px;
            border-style: none;
            border-color: blue;
            background-color: rgb(255, 255, 240);
        }

        table.sample td {
            border-width: 1px;
            padding: 1px;
            border-style: none;
            border-color: green;
            background-color: rgb(255, 255, 240);
        }
        

tr.green>td{
border-top:1pt solid green;
}
        
a:link {fill:blue; }
a:visited {fill:purple;}

.pseudoLabel{font-weight: bold; font-size: 12pt;}
.pseudoLabel_Large{font-weight: bold; font-size: 14pt;}
.docTitle{font-size:18.0pt;font-family:Arial;color:darkblue;font-weight: bold;text-align:center;}      
.docBoldBlue{color:darkblue;font-weight: bold;text-align:left;}
.docSubTitle{font-size:14.0pt;font-family:Arial;color:darkblue;font-weight: bold;text-align:center;}
.docSubSubTitle{font-size:12.0pt;color:darkblue;font-weight: bold;text-align:left;}  

.docSubTitleRed{font-size:14.0pt;font-family:Arial;color:red;font-weight: bold;text-align:center;}

.centered {text-align:center;}

.w100{width:100%}
.w75{width:75%}