<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>OTF Security</display-name>


	<servlet>
		<servlet-name>SecurityQuery</servlet-name>
		<servlet-class>
			org.ihtsdo.otf.security.web.SecurityServlet
		</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
			<description>Do we startup in debug mode?</description>
		</init-param>
		
		<init-param>
			<param-name>UserSecurityHandler-XML</param-name>
			<param-value>XmlUserSecurity</param-value>
		</init-param>
		<init-param>
			<param-name>XmlUserSecurity.class</param-name>
			<param-value>org.ihtsdo.otf.security.xml.XmlUserSecurity</param-value>
		</init-param>
		<init-param>
			<param-name>XmlUserSecurity.configFile</param-name>
			<param-value>D:/Data/git/OTF-User-Module/security/TextFiles/Example.xml</param-value>
		</init-param>
		<init-param>
			<param-name>UserSecurityHandler</param-name>
			<param-value>StormPathUserSecurity</param-value>
		</init-param>
		<init-param>
			<param-name>StormPathUserSecurity.class</param-name>
			<param-value>org.ihtsdo.otf.security.stormpath.StormPathUserSecurity</param-value>
		</init-param>
		<init-param>
			<param-name>StormPathUserSecurity.keyPath</param-name>
			<param-value>C:/Users/adamf/stormpath/apiKey.properties</param-value>
		</init-param>
		<init-param>
			<param-name>StormPathUserSecurity.apiKey.id</param-name>
			<param-value>2ZCPRU919FXQYF49HRUXK8905</param-value>
		</init-param>		
		<init-param>
			<param-name>StormPathUserSecurity.apiKey.secret</param-name>
			<param-value>ORDQyayhl1wmFputDIrEh8xIKi4amFGGcKsF9zn94L0</param-value>
		</init-param>	

	</servlet>
	<servlet-mapping>
		<servlet-name>SecurityQuery</servlet-name>
		<url-pattern>/query/*</url-pattern>
	</servlet-mapping>


	<!-- <error-page> <error-code>500</error-code> <location>/error.jsp</location> 
		</error-page> <error-page> <error-code>404</error-code> <location>/error.jsp</location> 
		</error-page> <error-page> <error-code>400</error-code> <location>/error.jsp</location> 
		</error-page> <error-page> <error-code>403</error-code> <location>/error.jsp</location> 
		</error-page> -->
</web-app>
